@model IEnumerable<Bookush.DAL.DBO.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>All Books</h2>


<p style="   
        background: #000000;
        text-align:center;
        padding: 5px;
        width: 100px;
        border: 1px solid rgb(43, 0, 0);
        margin: 15px;">
        <a style="color: #ffffff;" asp-action="Create">Add New</a>
</p>

<table class="table">
    <thead style=" font-size: 16px; color: #80514a; font-family: cursive;">
        <tr>
            <th style=" font-weight: bold;">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style=" font-weight: bold;">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="color: #80514a;">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" style="color: #80514a;">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color: #80514a;">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<img src="~/images/library1.jpg" alt="" style="width:60%;" />

